<h3 <%= list%>><a href="#"><%= list.title%> (
  <% for(var o=0;o<list.owners.length;o++) {%>
    <span class="owner"><%= list.owners[o] %></span>
  <% } %>
  )</a></h3>
<div <%= list%>>
  
  <%  var todos = list.todos; 
      for(var t=0;t<todos.length;t++) { %>
        <%= $.View('//todolist/views/todo/show',{todo: todos[t]})%>
  <% } %>
  
  <hr />
  <a href="#" class="DATA-new-task-button" data-list-id="<%=list.id%>">Neuer Task</a>
  <a href="#" class="DATA-delete-list-button" data-list-id="<%=list.id%>">Liste Löschen</a>
  <br /><br />
</div>
